@using PagedList
@using PagedList.Mvc
@using Vehicle_Recovery.Models
@model PagedList.PagedList<Xe>
@{
    ViewBag.Title = "Sản phẩm mới";
}

<div class="row" style="margin:0">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="row" style="margin:0">
            @Html.Action("LoaiXePartial", "Home")
        </div>
        <div class="row" style="margin:0;margin-top:2%;">
            @Html.Action("HangXePartial", "Home")
        </div>
        <div class="row" style="margin:0;margin-top:2%;">
            @*Danh sách giá*@
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="row-list-sp">
            <div class="title-sp">
                <div style="text-align:center; height:49.7px; line-height: 49.7px;">
                    Sảm phẩm mới
                </div>
            </div>
            <div class="list-sp">
                @foreach (var sp in Model)
                {
                    @Html.Action("SanPham", "SanPham", new { masp = sp.MaXe })
                }
            </div>
            <div>
                Trang: @Model.PageNumber/@Model.PageCount
                <br />
                @Html.PagedListPager(Model,page => Url.Action("SanPhamMoi", new { page = page }))
            </div>
        </div>
    </div>
</div>
<script>
    Active("li-home");
</script>