@using Vehicle_Recovery.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Xe>


@{ 
    ViewBag.Title = "Cửa hàng";
}
<div class="row" style="margin:0">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="row" style="margin:0">
            @Html.Action("LoaiXePartial","Home")
        </div>
        <div class="row" style="margin:0;margin-top:2%;">
            @Html.Action("HangXePartial","Home")
        </div>
        <div class="row" style="margin:0;margin-top:2%;">
            @*Danh sách giá*@
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
        @Html.Action("SanPhamMoiPartial","SanPham")
    </div>
</div>
@(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page=Page}))
</div>
<style>
    .MenuTrang li{
        display:inline;
    }
</style>
<script>
    Active("li-home");
</script>