@model Vehicle_Recovery.Models.Xe

@{
    ViewBag.Title = "Suaxe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Điều chỉnh thông tin xe</h2>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaXe)

        <div class="form-group">
            @Html.LabelFor(model => model.TenXe, "Tên xe: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenXe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenXe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DongXe1.MaDongXe, "Dòng xe: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DongXe1.MaDongXe, (SelectList)ViewBag.MaDongXe)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HangXe1.MaHX, "Hãng xe: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HangXe1.MaHX, (SelectList)ViewBag.HangSX)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KhuyenMai, "Khuyến mãi: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KhuyenMai, new { htmlAttributes = new { @class = "form-control", @max = "100", @min = "0" } })
                @Html.ValidationMessageFor(model => model.KhuyenMai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThanhTien, "Thành tiền: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThanhTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThanhTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NamSX, "Năm sản xuất: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamSX, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NamSX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayBan, "Ngày bán: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayBan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayBan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, "Mô tả", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Mota">@Model.MoTa</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, "Hình ảnh: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Chọn ảnh mới
                <input type="file" name="fileupload" />
                <img src="@Url.Content("~/Img/" + Model.HinhAnh)" width="120px" />
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Xe")
</div>
<script>
    Active("li-sp");
</script>