@model Vehicle_Recovery.Models.Xe

@{
    ViewBag.Title = "Xoaxe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác nhận xóa xe</h2>

<h3>Quyết định xóa xe?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên xe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenXe)
        </dd>

        <dt>
            Dòng xe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DongXe)
        </dd>

        <dt>
            Năm sản xuất:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamSX)
        </dd>

        <dt>
            Khuyến mãi:
        </dt>

        <dd>
            @String.Format("{0:0,0,0}", Model.KhuyenMai) VNĐ
        </dd>

        <dt>
            Thành tiền:
        </dt>

        <dd>
            @String.Format("{0:0,0,0}", Model.ThanhTien) VNĐ
        </dd>

        <dt>
            Ngày bán:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.NgayBan)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd style="width:600px;text-align:justify">
            @Html.Raw(Model.MoTa)
        </dd>

        <dt>
            Ngày đăng:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.NgayBan)
        </dd>

        <dt>
            Hình ảnh:
        </dt>

        <dd>
            <img src="@Url.Content("~/Img/"+Model.HinhAnh)" width="120px" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Xe")
        </div>
    }
</div>
<script>
    Active("li-sp");
</script>